@{
    ViewBag.Title = "Page404";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>اجازه دسترسی ندارید</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<link rel="stylesheet" href="/Resources/Page404/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="/Resources/Page404/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Resources/css/responsive.css" type="text/css" media="all">

    <!-- Favicons
	================================================== -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Resources/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Resources/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Resources/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/Resources/assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/Resources/assets/ico/favicon.ico">	
   
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
	<![endif]-->
</head>
<body id="sub-page">
<br><br><br><br>
<div class="pattern">
	<div class="separator"></div>
    <div class="main-body">
    	<div class="wrapper clearfix"> 			
			<div class="error-404 clearfix">
				<div class="right-404-col">
					<p>Access Denied</p>
				</div><!--right-404-col-->
				<div class="left-404-col">
					<h1> در صورتی که این صفحه را مشاهده می کنید بدان معناست که یا سطح دسترسی لازیم را برای انجام فعالیتی ندارید و یا خطایی صورت گرفته است و یا مدت زمان نشت به اتمام رسیده است.</h1>
					<ul class="unorder-list">
						<li><a href="#" onclick="window.history.back();return false;">بازگشت به صفحه قبل</a></li>
						<li><a href="/">رفتن به صفحه اصلی</a></li>
					</ul>
				</div><!--left-404-col-->
			</div><!--end:error-404-->
        </div><!--wrapper-->
    </div><!--main-body-->
</div><!--pattern-->
</body>
</html>
