
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section -->
<div class="section section-pad" style="direction:rtl;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><span class="IRANSans">سوالات متداول</span></h4>
                <div class="gaps size-1x"></div>
            </div>
        </div>
        <div class="faq-one row IRANSans">
            <div class="col-md-6">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans"> تأیید احراز هویت چقدر زمان می برد؟</h5>
                    <p class="IRANSans">  اگر در ساعات بین ۸ تا ۲۱ اقدام به ثبت نام نمایید همکاران همان روز و حداکثر ظرف ۲ ساعت مدارک شما را بررسی و در صورت تأیید حساب کاربری فعال خواهد شد.</p>
                </div>
                <div class="gaps size-x2"></div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">احراز هویت به چه صورت انجام می شود؟</h5>
                    <p class="IRANSans">به طور پیش فرض با ثبت دو کارت بانکی به نام یک فرد احراز هویت انجام می شود اما در صورتی که نمی خواهید از این روش استفاده کنید می توانید با پشتیبانی جهت احراز هویت با کارت شناسایی تماس بگیرید</p>
                </div>
                <div class="gaps size-x2"></div>
            </div>

            <div class="col-md-6">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">رمز عبور خود را فراموش کرده ام، چگونه وارد حساب کاربری شوم؟</h5>
                    <p class="IRANSans">در بخش ورود به سایت لینکی برای این منظور درنظر گرفته شده است ، درصورت نیاز ایمیلی برای شما ارسال خواهد شد که از طریق آن می توانید رمز عبور را مجدد تعیین نمایید.</p>
                </div>
                <div class="gaps size-x2"></div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">بدون داشتن ایمیل می توانم در سایت ثبت نام کنم؟</h5>
                    <p class="IRANSans">خیر، در ضمن توجه داشته باشید هنگام ثبت نام از صحت آدرس ایمیل و امکان دسترسی به آن اطمینان کامل داشته باشید.</p>
                </div>
                <div class="gaps size-x2"></div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">آیا برای هر خرید باید احراز هویت انجام دهیم؟</h5>
                    <p class="IRANSans">  خیر احرازهویت فقط یکبار انجام می شود.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">برای فروش به شما احرازهویت نیاز است؟</h5>
                    <p class="IRANSans"> بله برای فروش به ما نیاز به احراز هویت می باشد.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">امکان خرید از کارت بانکی شخص ثالث رو دارم؟</h5>
                    <p class="IRANSans"> خیر پس از واریز مبلغ سفارش بلوکه و سفارش شما انجام نخواهد شد.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">روش های واریز چگونه است ؟</h5>
                    <p class="IRANSans">برای تمامی کاربران روش کارت به کارت آنی وجود دارد فقط دقت داشته باشید که فقط با کارت یا کارت هایی اقدام به واریز نمایید که آنها در پروفایل خود ثبت کرده اید</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">نحوه خرید با سیستم کارت به کارت آنی چگونه است ؟</h5>
                    <p class="IRANSans"> شما ابتدا می بایست با یکی از کارت های ثبت شده توسط خودتان اقدام به واریز مبلغ دلخواه خود نمایید ، معمولا زیر 30 ثانیه اطلاعات واریز شما در سیستم ما ثبت می وشد اما ممکن است در مواردی تا 15 دقیقه نیز به طول انجامد ، پس از شناسایی اطلاعات واریز شما مبلغ در ولت شما شارژ می گردد و می توانید  خرید خود را انجام دهید</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->
