
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section -->
<div class="section section-pad" style="direction:rtl;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><span class="IRANSans">قوانین و مقررات</span></h4>
                <div class="gaps size-1x"></div>
            </div>
        </div>
        <div class="faq-one row IRANSans">

            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">ثبت نام</h5>
                    <p class="IRANSans">استفاده از خدمات saraf365 مشروط بر ثبت نام و ایجاد حساب کاربری بوده و تنها برای کاربران احراز هویت شده امکان پذیر می باشد.</p>
                    <p class="IRANSans"> برای ثبت نام باید از اطلاعات حقیقی استفاده نمایید، صحت این اطلاعات توسط کارشناسان ما بررسی خواهد شد و در صورت مغایرت، از فعالیت کاربران با هویت جعلی یا پنهان جلوگیری خواهد شد.</p>
                </div>
            </div>

            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">مالی</h5>
                    <p class="IRANSans">
                        هرگونه پرداخت و تراکنشی که در سایت انجام می شود باید توسط حساب های بانکی ثبت شده صورت پذیرد، در غیر اینصورت برخلاف مقررات سایت بود و منجر به مسدود شدن حساب کاربری خواهد شد.
                    </p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">نحوه استفاده</h5>
                    <p class="IRANSans">مسئولیت استفاده بعدی از خدمات تهیه شده از saraf365، از عهده این سایت خارج بود و چنانچه تخلفی در این راستا انجام شود مسئولیت آن بر عهده کاربر می باشد.</p>
                    <p class="IRANSans">خدمات سایت saraf365 کاملا منطبق بر قوانین جهموری اسلامی ایران می باشد و در صورت بروز هرگونه تخلف توسط کاربران حساب کاربری معلق و مراتب به صورت قانونی و از طریق مراجع ذیصلاح پیگیری خواهد شد.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">خرید با کارت های احراز هویت نشده</h5>
                    <p class="IRANSans">
                        درصورت پرداخت توسط حساب بانکی ثبت نشده ، مبلغ واریزی توسط سایت saraf365 مسدود و سفارش لغو خواهد شد. عودت مبلغ تنها در صورت درخواست کتبی صاحب حساب بانکی انجام خواهد شد.
                    </p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">سفارشات</h5>
                    <p class="IRANSans">
                        تمامی سفارشات در سایت saraf365 در صورت موجود بودن به صورت خودکار و در غیر اینصورت به صورت دستی و توسط کارشناسان فروش انجام میگردد. لذا بر اساس شرایط سفارش حداکثر ظرف مدت ۲۴ ساعت انجام خواهد شد. کاربران با علم به این موضوع اقدام به ثبت نام و درخواست سفارش می نمایند و این سایت تعهدی در قبال انجام سفارشات در زمانی کمتر از مدت اعلام شده ندارد.
                    </p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">پشتیبانی</h5>
                    <p class="IRANSans">شماره تلفن درج شده در سایت برای پاسخگویی به سوالات معمول کاربران نیست،‌پشتیبانی فقط و فقط از طریق تیکت در حساب کاربری یا پشتیبانی آنلاین در صفحه اصلی سایت صورت می پذیرد.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">حریم شخصی</h5>
                    <p class="IRANSans">اطلاعات هویتی شما نزد ما به طور امن نگه داشته خواهد شد ، فقط در صورت بروز هرگونه شکایت و اعلام درخواست از سمت پلیس فتا، مراجع قضایی و انتظامی کشور اطلاعات هویتی کاربر مورد نظر به آن مقام مسئول اعلام می گردد و همکاری لازم با ایشان تمام و کمال صورت خواهد پذیرفت.</p>
                </div>
            </div>
            <div class="col-md-6 res-m-bttm">
                <div class="single-faq mr-x2">
                    <h5 class="faq-heading IRANSans">قبول قوانین</h5>
                    <p class="IRANSans">ثبت نام در سایت به منزله قبول داشتن تمامی قوانین و مقررات می باشد</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->
